@model IEnumerable<Biblioteczka.Models.Book>

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteczka - Szukaj</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Biblioteczka", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Przełącz nawigację" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Twoje książki", "Index", "Book", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Szukaj książki", "Index", "Search", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    @Html.AntiForgeryToken()
    <h4>Wyszukiwarka ksiażek w bazie</h4>
    <hr />
    @using (Html.BeginForm("Search", "Book", FormMethod.Post))
    {
        <label for="nbk">Podaj nazwę książki:</label>
        <hr />
        @Html.TextBox("nbk", null, new { id = "nbk", placeholder = "Nazwa książki" })
        <button type="submit">Szukaj</button>

        @Html.ValidationMessage("")
    }

    <footer>
        <p>&copy; @DateTime.Now.Year - Biblioteczka - appka dla zaczytanych</p>
    </footer>
</body>
</html>